.upload {position: relative;color:black;text-align: center; padding: 0px 5px;-webkit-border-radius: 2px;border-radius: 2px; margin: 0 auto;} 
.upload form {width:100%;position:relative; left:0; top:0;opacity:1; filter:alpha(opacity=0);}
.upload form input{width: 100%;}
.status {width:14px;height:14px;}
.sex {height: 20px;width: 20px;display: inline-block; vertical-align: middle;}
.avata {border-radius:50%;width:100px;height: 100px;}
.scan-result {width:200px;word-wrap:break-word;margin:5px;padding:0 10px;background-color:#ebebeb;line-height:2.3em;text-align:left;color:#000000}
.staff-desc {padding: 10px 15px;}